@page
@model GestionHoteleraProyecto.Pages.Hoteles.HabitacionesTokyoModel
@{
    ViewData["Title"] = "Habitaciones Disponibles en Hotel Continental de Osaka Tokyo";
}

<h1>Habitaciones Disponibles en Hotel Continental de Osaka Tokyo</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Torre</th>
            <th>Piso</th>
            <th>Habitación</th>
            <th>Disponibilidad</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var habitacion in Model.HabitacionesDisponibles)
        {
            <tr>
                <td>@habitacion.Nombre</td>
                <td>@habitacion.Torre</td>
                <td>@habitacion.Piso</td>
                <td>@habitacion.NumeroHabitacion</td>
                <td>@(habitacion.Disponibilidad ? "Disponible" : "No disponible")</td>
            </tr>
        }
    </tbody>
</table>
