@page
@model GestionHoteleraProyecto.Pages.Hoteles.HotelesModel
@{
    ViewData["Title"] = "Hoteles";
}

<h1>Lista de todos los Hoteles</h1>

<div class="container">
    <div class="row">
        @foreach (var hotel in Model.Hoteles)
        {
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th colspan="2">@hotel.Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Torre:</td>
                            <td>@hotel.Torre</td>
                        </tr>
                        <tr>
                            <td>Piso:</td>
                            <td>@hotel.Piso</td>
                        </tr>
                        <tr>
                            <td>Habitación:</td>
                            <td>@hotel.Habitacion</td>
                        </tr>
                        <tr>
                            <td>Disponibilidad:</td>
                            <td>@(hotel.Disponibilidad ? "Disponible" : "No disponible")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        }
    </div>
</div>
